.figure-container {
    display: flex;
    flex-wrap: wrap;
}

.figure-container.white {
    align-content: flex-start;
    align-items: flex-start
}

.figure-container.black {
    align-content: flex-end;
    align-items: flex-end;
}

.figure-container .figure {
    background-size: cover;
    height: 20px;
    width: 20px;
}

@media (min-width: 768px) {
    .figure-container .figure {
        height: 40px;
        width: 40px;
    }
}

@media (min-width: 992px) {
    .figure-container .figure {
        height: 50px;
        width: 50px;
    }
}